.character-card{
    position: relative;
    width: 100vw;
    height: 100vh; 
    margin: auto;
}


/*特性容器*/
.feature-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background: 50% / cover url(../../common/images/screen4Bg.jpg) no-repeat;
}

/*装饰元素*/
.slogan-Vertical{
    position: absolute;
    left: 1.7rem;
    top: 5.5rem;
    width: .4rem;
    height: 80%;
    background: url(../../common/images/slogan-vertical.png) no-repeat;
    background-size: cover;
    background-position: 50%;
}
.linkong{
    position: absolute;
    right: 1.5rem;
    bottom: 0px;
    width: 19.9375rem;
    height: 5.21875rem;
    background: 50% / contain url(../../common/images/linkong.png) no-repeat;
}
.right-Dot{
    position: absolute;
    right: .90625rem;
    bottom: 6rem;
    width: 1.21875rem;
    height: 7.125rem;
    background: 50% / contain url(../../common/images/right-dot.png) no-repeat;
}
.right-Slogan{
    position: absolute;
    right: .9875rem;
    bottom: 3.21875rem;
    width: 11.21875rem;
    height: 2.4375rem;
    background: 50% / contain url(../../common/images/right-slogan.png) no-repeat;
}



/* 分页器样式 */
.external-pagination {
    position: absolute;
    height: 40rem;
    top:90%;
    left: 50%;
    max-width: 14rem;
    gap: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.external-pagination .swiper-pagination-bullet {
    position: relative;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #ccbee1;
    border: 2px solid #b38fff;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.external-pagination .swiper-pagination-bullet-active{
    background-image: none !important; 
    background-color: #b4b0f0 !important;
    transform: scale(1.4);
    border-color: #d2c2e2;
    box-shadow: 0 0 10px rgba(172, 188, 236, 0.8);
}
.external-pagination .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}


/*Swiper容器*/
.feature-content{
    position: absolute;
    width: 80%;
    height: 75%;
    left: 1%;
    bottom: 12%;
}
.feature-swiper-box{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 300px;
    transform-style: preserve-3d;
}

/*导航按钮样式*/
.character-card .swiper-button-next,
.character-card .swiper-button-prev {
  width: 2rem;  
  height: 2rem;
  overflow: visible;
}

.character-card .swiper-button-next{
    position: absolute;
    top: 60%;
    background: 50% / contain url(../../common/images/Card/right-arrow.png) no-repeat;
    animation: style_right-arrow 1.2s ease-in-out infinite;
    z-index: 100;
    overflow: visible;
}
@keyframes style_right-arrow{
    0%{
        right: 5.25rem;
        transform: scale(1);
    }
    50%{
        right: 5.71875rem;
        transform: scale(1.1);
    }
    100%{
        right: 5.25rem;
        transform: scale(1);
    }
}
.character-card .swiper-button-prev{
    position: absolute;
    top: 60%;
    background: 50% / contain url(../../common/images/Card/left-arrow.png) no-repeat;
    animation: style_left-arrow 1.2s ease-in-out infinite;
    z-index: 10;
}
@keyframes style_left-arrow{
    0%{
        left: 22.25rem;
        transform: scale(1);
    }
    50%{
        left: 22.71875rem;
        transform: scale(1.1);
    }
    100%{
        left: 22.25rem;
        transform: scale(1);
    }
}

.character-card .swiper-button-next:after,
.character-card .swiper-button-prev:after {
  content: '';
}
.character-card .swiper-button-next:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.character-card .swiper-button-prev:after {
  transform: translate(-50%, -50%) rotate(-135deg);
}
.character-card .swiper-button-next:hover,
.character-card .swiper-button-prev:hover{
    scale: 1.5;
}

/*Swiper*/
.character-card .swiper{
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex ;
}

.character-card .swiper-wrapper{
    position: relative;
    width: 80%;
    height: 90%;
    left: 20%;
    top: 1rem;
    left: 3rem;
    z-index: 1;
    display: flex ;
    transition-property: transform;
    box-sizing: content-box;
}
.character-card .swiper-slide-prev{
    left: 24%;

}
.character-card .swiper-slide-next{
    right: 10%;
}
.character-card .swiper-slide-active {
    position: relative;
    top: 20%;
    left: 5%;
    width: 100% !important;
    height: 62%;
    opacity: 1; /* 完全不透明 */
    z-index: 3; /* 确保在最上层 */
    will-change: transform;
    transition: transform 1.2s;
    transform: 
        scale(1.3)
        translate3d(calc(5%), calc(5%), calc(30px))
        translateX(calc(var(--mouse-x) * 20px))
        translateY(calc(var(--mouse-y) * 10px));    
}
.character-card .swiper-slide:not(.swiper-slide-active){
    position: relative;
    width: 100%;  /* 单张幻灯片占满容器 */
    height: 50%;
    flex-shrink: 0;
    top: 40%;
    opacity: 1; /* 非活跃slide透明度降低 */
    z-index: 1;
    will-change: transform;
    transition: transform 1.5s;
    transform:
        translateX(calc(var(--mouse-x) * 20px)) 
        translateY(calc(var(--mouse-y) * 10px))   
}

.character-card .swiper-slide:not(.swiper-slide-active){
    /* 隐藏信息面板 */
.swiper-box{
    position: absolute;
    right: 20%;
    bottom: -10%;
    opacity: 0;
    transition: opacity 1s;
    transform: scale(0.7);
    pointer-events: none; /* 非活跃项信息面板不可交互 */
  }
} 

.character-card .swiper-slide-active .swiper-box{
    position: relative;
    left: -15%;
    opacity: 1;
    transition: opacity 2.7s;
    transition: transform 0.7s;
    transform: scale(1);
}


.character-card .swiper-box-top{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 28rem;
    transition: transform 0.7s;
    transform: 
        translateX(calc(var(--mouse-x) * 25px))
        translateY(calc(var(--mouse-y) * 15px))
    ;
}
.character-card .serial{
    position: relative;
    display: flex;
    align-items: center;
    width: 30rem;
    height: 3rem;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}
.serial-title{
    position: absolute;
    left: 5rem;
    top: -30%;
    font-size: 3rem;
    height: 4rem;
    overflow: hidden;
    z-index: 2;
}

.serial-pinto{
    position: absolute;
    left: 14rem;
    top: 1.5rem;
    width: 14rem;
    height: .8rem;
    background: 50% / contain url(../../common/images/Card/pinto.png) no-repeat;
    z-index: 2;
}
.lineAcross{
    position: absolute;
    left: 3rem;
    top: 3rem;
    width: 20.78125rem;
    height: .09375rem;
    background: url(../../common/images/Card/line-across.png) no-repeat;
    background-size: contain;
    
}
.lineVertical{
    width: .09375rem;
    height: 13.375rem;
    background: 50% / contain url(../../common/images/Card/line-vertical.png) no-repeat;
    position: absolute;
    left: 2rem;
    top: 0;
}
.swiper-box-content{
    position: relative;
    width: 28rem;
    height: 18rem;
    padding-top: 1.2rem;
    margin-left: 4rem;
}
.slide-title{
    width: 60%;
    height: 20%;
    margin-left: -1.8rem;
    background: linear-gradient(90deg, #b7daed, #d7cceb);
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 20px 10px 10px rgba(123, 123, 123, 0.5);
    transition: transform 0.7s;
    transform: 
        translateX(calc(var(--mouse-x) * 25px))
        translateY(calc(var(--mouse-y) * 15px))
    ;
}
.slide-title p{
    position: relative;
    text-align: center;
    top: 5%;
    color: #ffffff;
    height: auto;
    font-weight: 500;
    font-size: 2rem;
}

.slideDetails{
    margin-left: 1.1rem;
    margin-top: 1.3rem;
}
.slideDetails li{
    margin-top: .2rem;
}

.slideDetails li i{
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    background: 50% / contain url(../../common/images/Card/circle.png) no-repeat;
    vertical-align: middle;
    margin-top: .3rem;
}
.slideDetails li span{
    font-size: .9rem;
    color: #605e71;
    text-shadow: .4rem .3rem .15rem rgba(107, 114, 140, .26);
    margin-left: -.4rem;
    letter-spacing: .0625rem;
}
.slideTips{
    font-size: .7rem;
    font-weight: 600;
    color: #605e71;
    margin-top: 2.5rem;
    margin-left: 8rem;
    display: flex;
    align-items: center;
}
.slideTips i{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: .2rem solid #8a88a3;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    margin-left: .15rem;
}
.deepspace{
    font-size: .4rem;
    font-weight: 400;
    color: #73727f;
    letter-spacing: .625rem;
    margin-top: .5rem;
    margin-left: .5rem;
}
.deepspace b{
    margin: 1rem;
    font-weight: 400; 
}
.swiper-content-bg{
    width: 28rem;
    height: 18rem;
    background: 50% / contain url(../../common/images/Card/content-bg.png) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    filter: drop-shadow(10px 10px 5px rgba(159, 158, 196, 0.5));  
    z-index: -1;
}

  /* 调整视频位置和大小 */
.video-frame{
    position: absolute;
    overflow: hidden;
    opacity: 1;
    right: 45%;
    top: 5%;
    width: 6.25rem;
    height: 10.9375rem;
    transform: scale(1.4);
    border: 2px solid transparent;
    border-radius: 8px;
}

.character-card .swiper-slide-active .video-frame {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    right: 20%;
    top: 15%;
    transition: transform 0.7s;
    transform: scale(2);
    border-color: rgba(152, 150, 180, 0.5);
}
   
.video{
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 100;
    pointer-events: none;
}
.character-card .swiper-slide-active .video{
    pointer-events: auto;
} 
.video-frame .video-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(107, 114, 140, 1);
}
/* 响应式调整 */
@media (max-width: 768px) {
  .character-content {
    flex-direction: column;
  }
  
  .video-frame {
    height: 40%;
  }
  
  .swiper-box {
    padding: 15px;
  }
  
  .slide-title {
    font-size: 20px;
  }
}
